
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*

font-family: 'Kumbh Sans', sans-serif;

*/


body {
 
background: #AF67E9;
background: -webkit-linear-gradient(top, #AF67E9, #6666E7);
background: -moz-linear-gradient(top, #AF67E9, #6666E7);
background: linear-gradient(to bottom, #AF67E9, #6666E7);
background-repeat: no-repeat;
min-height: 100vh;

margin: 0;
font-family: 'kumbh', sans-serif;
font-weight: 400;
font-size: 12px;
display: grid;
justify-content: center;
align-content: center;

}

/* .box-image {
    
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat:no-repeat;
    height: 100vh;
} */


.container {
    width: 920px;
    height: 509px;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 65%;

}

.answer {
    display: none;
}

.accordion__wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.questions {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.accordion_questions {
    margin-left: 10px;
}

.questions_answers__accordion {
    width: 350px;
    border-bottom: 1px solid #e8e8;
}

.title_accordion {
    font-size: 3rem;
    margin-top: 0px;
    margin-left: 10px;
}

.question_title {
    font-size: 1.2rem;
    font-weight: 400;
    /* margin: 1.4rem; */
    
}

.questions {
    display: flex;
    justify-content: space-between;
}

.image__wrapper {
    position: relative;
}

.image__wrapper__inner {
    background: url(/images/illustration-woman-online-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;
}
.box {
    position: absolute;
    top: 42%;
    left: -25%;
}
