body {
 



background: #AF67E9;
background: -webkit-linear-gradient(top, #AF67E9, #6666E7);
background: -moz-linear-gradient(top, #AF67E9, #6666E7);
background: linear-gradient(to bottom, #AF67E9, #6666E7);
background-repeat: no-repeat;
min-height: 100vh;

}




